<ion-header>
  <ion-toolbar>
    <ion-title>first-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="showModal()"> SHOW MODAL </ion-button>
  <ion-button color="warning" expand="block" (click)="showModal()">
    By Ibrahim 2 By Ibrahim 2
  </ion-button>
  <p>Commit by Github Desktop</p>
  <ion-list>
    <ion-item (click)="detail(1)">
      <ion-label> product 1 </ion-label>
    </ion-item>
    <ion-item (click)="detail(2)">
      <ion-label> product 2 </ion-label>
    </ion-item>
    <ion-item (click)="detail(3)">
      <ion-label> product 3 </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
